  <ul class="collection">
  <li
    (click)="pickVideo(video)"
    *ngFor="let video of videos"
    [class.active]="video.id === selectedVideo?.id"
    class="collection-item"
  >
    <app-video-preview [video]="video"></app-video-preview>
  </li>
</ul>
