<div class="row">
  <div class="col s3">
    <app-video-list
      [videos]="videos | async"
      [selectedVideo]="selectedVideo | async"
      (selectVideo)="setSelectedVideo($event)"
    >
    </app-video-list>
  </div>
  <div class="col s6">
    <app-video-player [video]="selectedVideo | async"></app-video-player>
  </div>
  <div class="col s3">
    <app-stat-filters></app-stat-filters>
  </div>
</div>
